{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.{cls,trigger}",
      "options": { "apexInsertFinalNewline": true }
    },
    {
      "files": "*.{html,xml}",
      "options": { "parser": "xml", "xmlWhitespaceSensitivity": "ignore" }
    }
  ]
}
